In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
text_df = pd.read_csv("../../data/processed/text_df.csv", index_col=0)
tags_df = pd.read_csv("../../data/processed/tags_df.csv", index_col=0)
target_df = pd.read_csv("../../data/processed/target_df.csv", index_col=0)

In [3]:
display(text_df.head())
display(tags_df.head())
display(target_df.head())

                                                text
0  маленький выбор товаров, хотелось бы ассортиме...
1                                             быстро
2                   доставка постоянно задерживается
3                 наценка и ассортимент расстраивают
4  можно немного скинуть минимальную сумму заказа...

,ASSORTMENT,CATALOG_NAVIGATION,DELIVERY,PAYMENT,PRICE,PRODUCTS_QUALITY,PROMOTIONS,SUPPORT
0,1,0,1,0,0,0,1,0
1,1,0,1,0,1,1,0,0
2,1,0,1,0,1,0,1,1
3,1,0,0,0,1,0,1,0
4,0,0,0,0,1,0,1,0

,trend_id_res0,trend_id_res1,trend_id_res2,trend_id_res3,trend_id_res4,trend_id_res5,trend_id_res6,trend_id_res7,trend_id_res8,trend_id_res9,...,trend_id_res40,trend_id_res41,trend_id_res42,trend_id_res43,trend_id_res44,trend_id_res45,trend_id_res46,trend_id_res47,trend_id_res48,trend_id_res49
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

#### Разделим датасет на обучающую и валидационную выборки следующим образом: первые 90% данных пойдут на обучение, на оставшихся 10% будем сравнивать решения

In [5]:
text_train_df = text_df.loc[0:int(len(text_df)*0.9)]
text_val_df = text_df.loc[int(len(text_df)*0.9) + 1:]

display(text_train_df)
display(text_val_df)

text_train_df.to_csv("../../data/processed/train/text_train_df.csv")
text_val_df.to_csv("../../data/processed/val/text_val_df.csv")

                                                   text
0     маленький выбор товаров, хотелось бы ассортиме...
1                                                быстро
2                      доставка постоянно задерживается
3                    наценка и ассортимент расстраивают
4     можно немного скинуть минимальную сумму заказа...
...                                                 ...
4156                                              долго
4157                                        все отлично
4158                      слишком долгая стала доставка
4159              отмените минимальную стоимость заказа
4160                                              хуйня

[4161 rows x 1 columns]

                                                   text
4161  пицца с надписью привезем грячую привезли очен...
4162  практически перестал пользоваться с появлением...
4163  очень долгая доставка частенько, по num минут....
4164                       хороший сервис, цены дорогие
4165          отмечают что заказ доставлен а его ещ нет
...                                                 ...
4618                             привезли прокисший суп
4619                                             пойдет
4620  не дают абузить поддержка не возвращает деньги...
4621  очень плохая доставка в первую очередь, постоя...
4622  дико упарила фича с постоянно изменяющейся мин...

[462 rows x 1 columns]

In [7]:
tags_train_df = tags_df.loc[0:int(len(tags_df)*0.9)]
tags_val_df = tags_df.loc[int(len(tags_df)*0.9)+1:]

display(tags_train_df)
display(tags_val_df)

tags_train_df.to_csv("../../data/processed/train/tags_train_df.csv")
tags_val_df.to_csv("../../data/processed/val/tags_val_df.csv")

,ASSORTMENT,CATALOG_NAVIGATION,DELIVERY,PAYMENT,PRICE,PRODUCTS_QUALITY,PROMOTIONS,SUPPORT
0,1,0,1,0,0,0,1,0
1,1,0,1,0,1,1,0,0
2,1,0,1,0,1,0,1,1
3,1,0,0,0,1,0,1,0
4,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...
4156,0,0,1,0,1,0,0,0
4157,0,0,0,0,0,0,1,0
4158,0,1,1,1,1,0,1,0
4159,0,0,1,0,1,0,0,0
4160,1,1,1,1,1,1,1,1

,ASSORTMENT,CATALOG_NAVIGATION,DELIVERY,PAYMENT,PRICE,PRODUCTS_QUALITY,PROMOTIONS,SUPPORT
4161,0,0,1,0,0,0,0,0
4162,1,0,1,1,1,0,0,0
4163,1,1,1,0,0,0,0,0
4164,0,0,0,0,1,0,0,0
4165,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...
4618,0,0,0,0,0,1,0,0
4619,0,0,1,0,0,0,0,0
4620,0,0,0,0,1,1,1,1
4621,0,0,1,0,0,1,0,0
4622,1,1,1,0,1,0,1,0

In [9]:
target_train_df = target_df.loc[0:int(len(target_df)*0.9)]
target_val_df = target_df.loc[int(len(target_df)*0.9)+1:]

display(target_train_df)
display(target_val_df)

target_train_df.to_csv("../../data/processed/train/target_train_df.csv")
target_val_df.to_csv("../../data/processed/val/target_val_df.csv")

,trend_id_res0,trend_id_res1,trend_id_res2,trend_id_res3,trend_id_res4,trend_id_res5,trend_id_res6,trend_id_res7,trend_id_res8,trend_id_res9,...,trend_id_res40,trend_id_res41,trend_id_res42,trend_id_res43,trend_id_res44,trend_id_res45,trend_id_res46,trend_id_res47,trend_id_res48,trend_id_res49
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4156,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4158,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,trend_id_res0,trend_id_res1,trend_id_res2,trend_id_res3,trend_id_res4,trend_id_res5,trend_id_res6,trend_id_res7,trend_id_res8,trend_id_res9,...,trend_id_res40,trend_id_res41,trend_id_res42,trend_id_res43,trend_id_res44,trend_id_res45,trend_id_res46,trend_id_res47,trend_id_res48,trend_id_res49
4161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4162,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4163,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4164,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4165,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4618,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4619,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4621,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4622,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0